<div class="container">
  <div class="row mb-3">
    <div class="col p-0 alert alert-success p-0 border-0">
      <h5 class="text-center"><%= flash[:notice] %></h5>
    </div>
  </div>
</div>

<div class="container my-5">
   <div class="contents-title text-center">
     <h3>MUSIC</h3>
     
    <div class='row my-3'>
      <div class="col-md-10 mx-auto">
        <div class="row">
          <div class="col text-right">
            <%= link_to new_post_path,class: 'btn btn-default' do %>
             <i class="fas fa-plus-circle fa-2x"></i>
            <% end %>
        </div>
      </div>

      <div class="genres py-3 ml-3">
        <%= render 'admin/genres/genre_search', genres: @genres %>
      </div>
      
 <div class="row">
  <% @posts.each do |post| %>
    <div class="col-md-3">
      <div class="card">
        <div class="card b-block">
        <%= link_to post_path(post) do %>
          <%= image_tag post.get_image, class: 'card-img-top' %>
        <% end %>
        </div>
        <h5><%= post.title%></h5>
        <%= post.artist %>
        <span><i class="fas fa-user"></i><%= link_to post.user.name,user_path(post.user) %></span>
        <span><p class="text-center"><%= render 'public/likes/like', post: post %></p></span>
      </div>
    </div>
  <% end %>
   <%= paginate @posts %>
</div>