<div class='col-md-8 offset-md-1'>
  <div class="mt-4">
  <h3 class="text-center bg-light"><span style="background-color: gainsboro">詳細</span></h3>
</div>

  <div class="row mt-5">
    <div class="col-md-6">

      <div class="row">
        <div class="col-md-3">
          <%= "曲名" %>
        </div>
        <div class="h4 col-md-5" >
          <%= @post.title %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <%= "アーティスト" %>
        </div>
        <div class="h4 col-md-5" >
          <%= @post.artist %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <%= "ジャンル" %>
        </div>
        <div class="h4 col-md-5" >
          <%= @post.genre.genrename %>
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-3">
          <%= "ひとこと" %>
        </div>
        <div class="h4 col-md-5" >
          <%= @post.content %>
        </div>
        <div class="h4 col-md-5" >
          <%= @post.created_at.strftime('%Y/%m/%d') %>
        </div>
      </div>

  <% if current_user.email != 'guest@email.com'%>   
  <% if @post.liked_by?(current_user) %>
    <p>
      <%= link_to post_likes_path(@post), method: :delete do %>
        ♥<%= @post.likes.count %> いいね
      <% end %>
    </p>
      <% else %>
    <p>
      <%= link_to post_likes_path(@post), method: :post do %>
        ♡<%= @post.likes.count %> いいね
      <% end %>
    </p>
  <% end %>
  <% end %>
  
  <% if current_user.email != 'guest@email.com'%>
  <div>
  <p>コメント件数：<%= @post.comments.count %></p>
  <% @post.comments.each do |comment| %>
    <%= comment.user.name %>
    <%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.body %>
    <% if comment.user == current_user %>
      <%= link_to "削除", post_comment_path(comment.post, comment), method: :delete %>
    <% end %>
  </div>
    <% end %>
      <%= form_with model: [@post, @comment] do |f| %>
    <%= f.text_area :body, rows: '5', placeholder: "コメントをここに" %>
    <%= f.submit "送信する" %>
  <% end %>
</div>
<% end %>

      <%# if user_signed_in? && current_user.id.to_s == params[:id] %>
        <div class="row mt-3">
          <%= form_with class: "col-md-8", model: @post, url: edit_post_path, method: :get do |f| %>
          <div class="row mb-3 justify-content-center">
            <%= f.submit "編集", class: "col-md-4 btn btn-outline-success btn-lg" %>
          </div>
        </div>
          <% end %>
      <%# end %>
    </div>
  </div>
</div>
