<% if flash[:notice] %>
  <div class="container">
    <div class="row mb-3">
      <div class="col p-0 alert alert-success p-0 border-0">
        <h5 class="text-center"><%= flash[:notice] %></h5>
      </div>
    </div>
  </div>
<% end %> 
 
 <section class="container mb-5">

<% if @post.user == current_user %>
    <div class="col-2 ml-auto">
        <%= link_to "編集する", edit_post_path, class:"btn btn-primary py-1" %>
      </div>
  <% end %>
   <div class="row mb-2">
    <div class="col-lg-6">
     <%= image_tag @post.get_image, class: 'd-block mx-auto' %>
    </div>
    <div class="col-lg-6 pt-4">
     <h3 class="text-center"><%= @post.title %></h3>
     <h4 class="text-center"><%= @post.artist %></h4>
     <h4 class="text-center"><%= @post.genre.genrename %></h4>
     <p class="text-center"><%= @post.content %></p>
     <p class="text-center"><%= @post.created_at.strftime('%Y/%m/%d') %></p>
     <h5 class="text-center">
       <%= render 'public/likes/like', post:@post %>
       </h5>
  
  <% if current_user.email != 'guest@email.com'%>
  <% @comments.each do |comment| %>
    <div class="text-center"><%= comment.user.name %>：<%= comment.body %> : (<%= comment.created_at.strftime('%Y/%m/%d') %>)
       <% if comment.user == current_user %>
          <%= link_to post_comment_path(post_id: comment.post_id, id: comment.id), method: :delete, class: 'btn btn-default', data: { confirm: '削除しますか？' } do %>
           <i class="fas fa-trash-alt"></i>
          <% end %>
       <% end %>
    </div>
 <% end %>
 
<%= paginate @comments %>

<%= form_with(model:[@post, @comment], local: false, class:"form-inline") do |f| %>
  <%= f.text_area :body, class:"col-md-5 form-control", size:"20x1", placeholder: "コメントをここに" %>
  <%= f.submit "投稿", class:"btn btn-primary py-1" %>
<% end %>
    </div>
    </div>
<% end %>
    </div>
   </div>
  </section>
