  <div class="container my-5">
    <div class="text-center mb-5">
      <h4>"<%= @word_for_search %>"の検索結果</h4>
    </div>
    
    <div class="col-md-8 offset-md-2">
    <div class="container my-5">
    <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>ユーザー</th>
        <th>曲名</th>
        <th>アーティスト</th>
        <th>ジャンル</th>
      </tr>
    </thead>
    <% if @posts.present? %>
        <% @posts.each do |post| %>
          <tr>
            <td><%= image_tag post.user.get_profile_image(100,100) %></td>
            <td><%= link_to post.user.name, user_path(post.user) %></td>
            <td><%= link_to post.title, post_path(post)  %></td>
            <td><%= post.artist %></td>
            <td><%= post.genre.genrename %></td>
          </tr>
        <% end %>
      </table>
    <% else %>
      <div class="text-center mb-5">
        <h4>見つかりませんでした</h4>
      </div>
    <% end %>
    </div>
  </div>