<div class="container-fluid main-visual">
  <div class="row">
    <div class="col-lg-12 main-visual-text">
      <p>
        あなたの好きな音楽を共有しませんか
      </p>
      <h1>ようこそ、OtoKoreへ。</h1>
    </div>
  </div>
</div>

<% if user_signed_in? %>

<div class="container new-item">
  <h5>新着投稿</h5>
  <div class="row">
    <table class="table table-borderless">
    <tr class="d-flex d-block flex-wrap justify-content-center ">
      <% @posts.each do |post| %>
       <td class="new_item_table">
          <%= link_to user_path(post.user) do %>
            <p><%= image_tag post.user.get_profile_image(100,100) %></p>
          <% end %>
          <%= link_to post_path(post) do %>
            <p class="figure-caption"><%= post.title %></p>
          <% end %>
            <p class="figure-caption"><%= post.artist %></p>
        </td>
      <% end %>
    </tr>
  </table>
</div>

  <div class="col text-right">
   <%= link_to "全ての投稿を見る>", posts_path %>
  </div>

  <% else %>
    <div>
      <%= link_to "新規登録", new_user_registration_path,  class: "btn btn-success" %>
      <%= link_to "ログイン", new_user_session_path, class: "btn btn-primary" %>
      <%= link_to "ゲストログイン", users_guest_sign_in_path, method: :post,  class: 'btn btn-warning' %>
      <%= link_to "サービス紹介", about_path,class: 'btn btn-outline-secondary mx-3 my-1' %>
    </div>
  <% end %>