<div class="container">
    <div class="text-center mb-5">
      <h4>"<%= @word_for_search %>"の検索結果</h4>
    </div>
    <% if @posts.present? %>
      <table class="table table-inverse table-hover">
        <% @posts.each do |post| %>
          <tr>
            <td class="align-middle"><p><%= post.title %></p></td>
            <td class="align-middle"><p><%= post.artist %></p></td>
            <td class="align-middle"><p><%= post.genre.genrename %></p></td>
            <td class="align-middle"><p><%= post.content %></p></td>
          </tr>
        <% end %>
      </table>
    <% else %>
      <div class="text-center mb-5">
        <h4>見つかりませんでした</h4>
      </div>
    <% end %>
    </div>
  </div>