<div class="container my-5">
  <h4 class="text-center bg-light"><span style="background-color: gainsboro">投稿一覧</span></h4>
  <div class='row my-3'>
    <div class="col-md-10 mx-auto">
      <div class="row">
        <div class="col text-right">
          <%= link_to new_post_path,class: 'btn btn-default' do %>
           <i class="fas fa-plus-circle fa-2x"></i>
          <% end %>
        </div>
      </div>

      <table class='table'>
        <thead>
          <tr>
            <th>ユーザー名</th>
            <th>曲名</th>
            <th>アーティスト</th>
            <th>ジャンル</th>
          </tr>
        </thead>
        <tbody>
          <% @posts.each do |post| %>
          <tr>
            <td><%= post.user.name %></td>
            <td><%= link_to post.title, post_path(post)  %></td>
            <td><%= post.artist %></td>
            <td><%= post.genre.genrename %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @posts %>
    </div>
  </div>
</div>