<% if flash[:notice] %>
  <div class="container">
    <div class="row mb-3">
      <div class="col p-0 alert alert-success p-0 border-0">
        <h5 class="text-center"><%= flash[:notice] %></h5>
      </div>
    </div>
  </div>
<% end %>


<div class="container my-5">
   <div class="contents-title text-center">
     <h3><%= @user.name %>さんの会員ページ</h3>
      <div class="container my-5">
        <div class="text-center">
          <%= image_tag @user.get_profile_image(100,100) %>
            <h5><%= @user.name %></h5>
        </div>
      </div>

        <div class="row">
        <div class="text-center">
          <%= link_to edit_admin_user_path, style: 'width:150px', class: "btn btn-outline-success" do %>
             <i class="fas fa-user-cog"></i>
          <% end %>
        </div>

<div class="container my-5">
<div class="row">
  <% @posts.each do |post| %>
    <div class="col-md-3 mb-3">
      <div class="card">
        <%= link_to admin_post_path(post) do %>
          <%= image_tag post.get_image, class: 'card-img-top post-index-card-img' %>
        <% end %>
        <div class="card-body">
          <h5 class="card-title"><%= post.title.truncate(10) %></h5>
          <div class="card-text">
            <%= post.artist %>
          </div>
        </div>
        <div class="card-footer text-right">
          <i class="fas fa-comment"></i><%= link_to "#{post.comments.count}", admin_post_path(post), class:"text-dark" %>
        </div>
      </div>
    </div>
  <% end %>

  <%= paginate @posts %>
</div>
