<div class="container my-5">
   <div class="contents-title text-center">
     <h3>Like</h3>

<div class="row">
  <% @like_posts.each do |post| %>
    <div class="col-md-3">
      <div class="card">
        <%= link_to post_path(post) do %>
          <%= image_tag post.get_image, class: 'card-img-top' %>
        <% end %>
        <h5><%= post.title%></h5>
        <%= post.artist %>
        
        <div class="py-3 ml-3">
          </div>
  
      <div class="card-link">
        <%= link_to post.user.name, user_path(post.user) %>
        <%= render 'public/likes/like', post:post %>
      </div>
      </div>
    </div>
  <% end %>
</div>