
<% if user_signed_in? && current_user.id.to_s == params[:id] %>
<div class="container my-5">
   <div class="contents-title text-center">
     <h3>My Page</h3>
      <div class="container my-5">
        <div class="text-center">
          <%= image_tag @user.get_profile_image(100,100) %>
            <h5><%= @user.name %></h5>
        </div>
      </div>

      <% if @user == current_user %>
      <% if current_user.email != 'guest@email.com'%>
        <div class="row">
        <div class="col-lg-3 mt-4 offset-lg-3 text-center"><%= link_to "プロフィール編集", users_my_page_edit_path, style: 'width:160px', class: "btn btn-outline-success" %></div>
      <% end %>
      <% end %>
        <% if current_user.email != 'guest@email.com'%>
        <div class="col-lg-3 mt-4 text-center"><%= link_to "いいねした投稿", likes_user_path(@user), style: 'width:150px', class: "btn btn-outline-danger" %></div>
      </div>
       <% end %>

      <% else %>

      <div class="container my-5">
   <div class="contents-title text-center">
     <h3>User</h3>
      <div class="container my-5">
        <div class="text-center">
          <%= image_tag @user.get_profile_image(100,100) %>
            <h5><%= @user.name %></h5>
        </div>
      </div>
      <% end %>
   

<div class="container my-5">
   <div class="contents-title text-center">
     <div class="row">
  <% @posts.each do |post| %>
    <div class="col-md-3">
      <div class="card">
        <%= link_to post_path(post) do %>
          <%= image_tag post.get_image, class: 'card-img-top' %>
        <% end %>
        <h5><%= post.title%></h5>
        <%= post.artist %>
        
        <div class="py-3 ml-3">
          <td><%= post.created_at.strftime('%Y/%m/%d') %></td>
          </div>
          
          <%= render 'public/likes/like', post:post %>
  
      <div class="card-link">
      </div>
      </div>
    </div>
  <% end %>
    <%= paginate @posts %>
</div>
